# Flask settings
FLASK_ENV=development
SECRET_KEY=change-me-to-a-random-string
ADMIN_SECRET_CODE=some-admin-secret-code

# Firebase Settings
FIREBASE_RTDB_URL=https://randomizer-events-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_SECRET=VvlSfG6dBnaj6KFZPSVkoARQ4MoPiITBqaP5N8Zc
